@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --bg-white: #fbfbfb;
    --bg-dark: #151b20;
    --font-white-mode: #000;
    --font-dark-mode: #fff;
    --bg-fontHover-white: #3a24dc;
    --bg-fontHover-dark: #3cc368;
    --bg-card: #b8b8b8;
}

body {
    min-width: 320px;
    background-color: var(--bg-white);
    transition: background 0.3s linear;
    font-family: 'Rubik', sans-serif;
    padding-top: 60px;
}

.container-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    z-index: 1000;
    transition: background 0.3s linear;
}

body.dark {
    background-color: var(--bg-dark);
    color: var(--font-dark-mode);
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    a {
        text-decoration: none;
        position: relative;
        &:hover{
            color: var(--bg-fontHover-dark);
        }
    }
    .icons {
        color: var(--font-dark-mode);
    }
    .container-nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--bg-dark);
        z-index: 1000;
        transition: background 0.3s linear;
    }
}

a {
    text-decoration: none;
    position: relative;
    &:hover{
        color: var(--bg-fontHover-white);
    }
} 

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(143, 143, 143, 0.5);
    border-radius: 50px;
    cursor: pointer;
    padding: 5px;
    position: relative;
    width: 50px;
    height: 26px;
}

.label .ball {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.img-theme  {
    width: 15px;
    height: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 20px 25px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a {
    color: var(--font);
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.foto-perfil {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.links {
    display: flex;
    gap: 20px;
}

.container-theme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-profile {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.container-profile h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 5px 0;
}

.container-profile h2 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.conteiner-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.container-text {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    cursor: default;
}

.fotos-pixel-art {
    width: 100px;
    height: 100px;
}

.fotos-pixel-art-ampulheta {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.container-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.container-about-me h2 {
    margin-top: 40px;
    cursor: default;
}

.container-about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container-about-me-text p {
    text-align: center;
    font-size: 12px;
    cursor: default;
}

.container-skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    padding: 25px;
}

.container-skills h2 {
    margin: 40px 0;
    cursor: default;
    text-align: center;
}

.frontend-skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.frontend-skills p {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.alinhar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.alinhar p {
    margin-top: 5px;
}

.backend-skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    cursor: default;
}

.backend-skills p {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.framework-skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    cursor: default;
}

.framework-skills p {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-projects h2 {
    margin: 100px 0 40px 0;
    cursor: default;
    text-align: center;
}

.card-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-card);
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card-item p {
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.container-projects a {
    text-decoration: none;
    color: var(--font-white-mode);
}

.container-projects a::before {
    display: none;
}

.card-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease;
    z-index: 0;
    opacity: 0;
    border-radius: 20px;
}

.card-item:hover::before {
    opacity: 1;
}

.card-item img,
.card-item p {
    position: relative;
    z-index: 1;
}

.change-image1:hover::before {
    background-image: url(/images/NDS-Commerce-image.png);
}

.change-image2:hover::before {
    background-image: url(/images/ViaCEP.png);
}

.change-image3:hover::before {
    background-image: url(/images/calculadora-change.png);
}

.change-image4:hover::before {
    background-image: url(/images/the-last-of-us-change.png);
}

.card-item:hover img, 
.card-item:hover p{
    display: none;
}

.card-item:hover {
    transform: scale(1.1);
}

.container-footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 60px 0 40px 0;
    font-size: 12px;
    cursor: default;
}

@media (min-width: 768px) {
    body {
        padding: 80px;
    }

    .container-nav-bar {
        max-width: 700px;
        margin-left: 90px;
    }

    .container-text {
        max-width: 400px;
        margin-left: 130px;
    }

    .container-about-me {
        margin-right: 20px;
    }

    .container-about-me p {
        max-width: 400px;
    }

    .frontend-skills {
        max-width: 400px;
        margin-left: 110px;
    }

    .backend-skills {
        max-width: 400px;
        margin-left: 110px;
    }

    .framework-skills {
        max-width: 400px;
        margin-left: 110px;
    }

    .responsive-768{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .responsive-768 a {
        padding: 20px;
    }

    .teste {
        margin-top: 40px;
    }

    .change-image4 img {
        width: 120px;
        height: 120px;
    }

    .change-image4 p {
        margin-bottom: 10px;
    }

    .card-item {
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 80px;
    }

    .container-nav-bar {
        max-width: 700px;
        margin-left: 300px;
    }

    .container-text {
        max-width: 400px;
        margin-left: 340px;
    }

    .frontend-skills {
        max-width: 400px;
        margin-left: 320px;
    }

    .backend-skills {
        max-width: 400px;
        margin-left: 320px;
    }

    .framework-skills {
        max-width: 400px;
        margin-left: 320px;
    }
}